In [5]:
#Write a Python Program to Check if a Number is Positive, Negative or Zero.

num = int(input("enter any number"))
if num > 0:
    print("number is positive")
elif num ==0:
    print("Zero")
else:
    print("number is negative")

enter any number 4

number is positive

In [9]:
# Write a Python Program to Check if a Number is Odd or Even.

num =int(input("Enter a number"))
if num %2 == 0:
    print("This is even number")
else:
    print("This number is odd")

Enter a number 5

This number is odd

In [11]:
# Write a Python Program to Check Leap Year.

year = int(input("Enter a year"))
if year % 400 == 0 and year % 100 == 0:
    print("{0} is leap year ".format(year))
elif year % 4 == 0 and year % 100 !=0:
    print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format(year))

Enter a year 2003

2003 is not leap year

In [19]:
# Write a Python Program to Check Prime Number.
# Prime Numbers:
# A prime number is a whole number that cannot be evenly divided by any other number
# except for 1 and itself. For example, 2, 3, 5, 7, 11, and 13 are prime numbers because they
# cannot be divided by any other positive integer except for 1 and their own value.'''


num = int(input("enter a number"))
flag = False
if num == 1:
    print(f"{num},is not prime number")
elif num > 1:
    for i in range(2 ,num):
        if (num % i) ==0:
            flag = True
            break
if flag:
    print(f"{num},is not a prime number")
else:
    print(f"{num}, is prime number")

enter a number 45

45,is not a prime number

In [44]:
# Write a Python Program to Print all Prime Numbers in an Interval of 1-10.

lower = 1
upper = 10
print("prime number between", lower,"and",upper,"are:")
for num in range(lower,upper + 1):
    if num > 1:
         for i in range(2, num):
            if (num % i) == 0:
                break
            else:
                print(num)

prime number between 1 and 10 are:
3
5
5
5
7
7
7
7
7
9

IndentationError: expected an indented block after 'for' statement on line 4 (35976578.py, line 6)

In [60]:
# Write a Python Program to Find the Factorial of a Number

num =int(input("enter a number :"))
fact = 1
if num <0:
    print("factorial does not exist negative")
elif num == 0:
    print("factorial of 0 is 1")
else:
    for i in range(1, num+1):
        fact = fact*i
print(f"the factorial of {num} is {fact}")

enter a number : 4

the factorial of 4 is 24

In [62]:
# Write a Python Program to Display the multiplication Table

num = int(input("Display multiplication table of:"))
for i in range(1,11):
    print(f"{num} x{i} = {num*i}")

Display multiplication table of: 5

5 x1 = 5
5 x2 = 10
5 x3 = 15
5 x4 = 20
5 x5 = 25
5 x6 = 30
5 x7 = 35
5 x8 = 40
5 x9 = 45
5 x10 = 50

In [77]:
# Write a Python Program to Print the Fibonacci sequence
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, and so on
# Mathematically, the Fibonacci sequence can be defined using the following recurrence
# relation:
# 𝐹 (0) = 0 𝐹 (1) = 1 𝐹 (𝑛) = 𝐹 (𝑛 − 1) + 𝐹 (𝑛 − 2)𝑓𝑜𝑟𝑛 > 1
 

nterms =int(input("How many terms"))
n1 , n2 = 0, 1
count = 0
if nterms <=0:
    print("plese positive intiger")
elif nterms == 1:
    print("fibonacci sequance upto",nterms,":")
    print(n1)
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
        n1 = nth
        n2 = nth
        count += 1

How many terms 10

Fibonacci sequence:
0
1
2
4
8
16
32
64
128
256

In [79]:
import random
print(f"random number: {random.randint(1,100)}")

random number: 33

In [85]:
import calendar
year = int(input("enter year:"))
month = int(input("enter month:"))
cal = calendar.month(year, month)
print(cal)

enter year: 2004
enter month: 4

     April 2004
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30