NUMBER PATTERN

In [2]:
n = 5
for i in range(5):
    for j in range(i+1):
        print("1",end="")
    print()

1
11
111
1111
11111

In [3]:
n = 4
for i in range(n):
    
    for j in range(i+1):
        print(i+1,end="")
    print()

1
22
333
4444

In [4]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p,end="")
    p+=1
    print()

1
22
333
4444
55555

In [5]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p,end="")
    p-=1
    print()

5
44
333
2222
11111

In [6]:
n = 5
p = 0
for i in range(n):
    for i in range(i+1):
        print(p,end="  ")
    p+=2
    print()

0
2  2
4  4  4
6  6  6  6
8  8  8  8  8

In [7]:
n = 5
for i in range(n):
    for j in range(i+1):
        if(i%2==0):
            print('1',end="")
        else:
            print('2',end="")
    print()

1
22
111
2222
11111

In [8]:
n = 5
p = 1
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(i + 1):
        print(p, end=" ")
    p += 1  
    print()
p -= 1  
for i in range(n - 1):
    
    for j in range(i + 1):
        print(" ", end="")
    
    
    for j in range(n - i - 1):
        print(p, end=" ")
    
    p -= 1  
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 5 5 5 5
  4 4 4
   3 3
    2

In [9]:
n = 5

for i in range(n):
    p=1
  
    for j in range(i+1):
        print(p,end="")
        p+=1
    print()

1
12
123
1234
12345

In [10]:
n =5
for i in range(n):
    p=5
    for j in range(i+1):
        print(p,end="")
        p-=1
    print()

5
54
543
5432
54321

In [11]:
n = 5
k =5
for i in range(n):
    p=k
    for j in range(i):
        
        print("",end="")
    for j in range(i,n):
        print(p,end="")
        p-=1
    k-=1
    print()

54321
4321
321
21
1

In [23]:
n = 4
p = 1
for i in range(n):
   for j in range(i+1):
       print(p,end=" ")
       p+=1
   print()

1
2 3
4 5 6
7 8 9 10